.margin-top-small {
  margin-top: 15px;
}

.margin-top-medium {
  margin-top: 25px;
}

.margin-top-large {
  margin-top: 40px;
}

 .container.custom-container {
      margin-left: 5px;
    }

.no-side-margin {
  width: 100%;
}
