<%= content_for(:title) do %>
  BeameUp
<% end %>

<div class="flexbox">
  <div class="flex-left">
    <div class="grid-cards">
      <h1>Scooters</h1>
      <ul>
        <% @scooters.each do |scooter| %>
          <li><%= scooter.name %> - <%= scooter.description %> <%= link_to "Choose", scooter_path(scooter) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="flex-right">

    <div class="grid-map">

    </div>

  </div>
</div>

