// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.set-footer {
  min-height: calc(100vh - 70px);
}

.flexbox {
  display: flex;
  margin-left: 20px;
}

.flex-left {
  background-color: whitesmoke;
  flex-grow: 1;
  width: 50%;
  margin-right: 10px
}

.flex-right {

}

.map {
  width: 50%;
  flex-grow: 1;
  background-image: url('https://source.unsplash.com/1600x900/?map');
  background-size: cover;
}

